* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #dfdfdf;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.react-calendar__tile--now {
  background: #f2f2f2 !important;
  color: black !important;
}
